@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px 180px;
}