.item {
  width: 30%;
  margin-top: 50px;
  background: #f5f5f5;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  h2 {
    margin: 10px 20px;
    color: #333333;
  }

  p {
    margin: 10px 20px;
    color: #333333;
  }

  b {
    margin: 10px 20px;
    color: #5fa36a;
  }

  .addToCart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;

    &:hover {
      transform: scale(1.05) translateY(-5px);
    }
  }
}