.fullItem {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;

    & > div {
        width: 600px;
        position: relative;
        margin: 10% auto;
        padding: 40px 30px;
        background: #ffffff;
        border-radius: 9px;
    }

    img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        transition: transform 500ms ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }

    h2 {
        margin: 10px 20px;
        color: #333333;
    }

    p {
        margin: 10px 20px;
        color: #333333;
    }

    b {
        margin: 10px 20px;
        color: #5fa36a;
    }

    .addToCart {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: #ca5252;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 600;
        transition: transform 500ms ease;

        &:hover {
            transform: scale(1.05) translateY(-5px);
        }
    }
}